body{
  background-color: aqua;
}
.App{
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  width: 40%;
  height: auto;
  padding: 3%;
  justify-content: center;
  overflow-y: auto;
  font-family: cursive;
  border-radius: 10px;
}
#text{
  margin-top: 10%;
  font-size: 170%;
  text-align: center;
}
#author{
  font-size: 120%;
  text-align: end;
}
.button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}
#new-quote{
  background-color: aqua;
  font-weight: bolder;
  border-radius: 10px;
}